/*RESET STYLES*/
* {
    box-sizing: border-box;
}

/*GLOBAL STYLES*/
html {
    font-family: helvetica, arial;
    font-size: 22px;
    color:seashell;
    background-color:rgb(0, 0, 0);
    opacity:0.9;
    text-align: center;
    line-height: 1;
}

header, main {
    text-transform: capitalize;
}
/*NAVIGATION BAR STYLES*/
header {
    display:flex;
    justify-content:space-between;
    width:100%;
    padding: 0 15%;
    position:fixed;
    border-bottom: 1px solid seashell;
    z-index: 10;
    background-color: black;
    flex-wrap:wrap;
}

header img {
    height:69px;
    width:100px;
}
nav {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;

}

nav ul {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    align-items:center;
    margin:0;
    padding:0px;
}
nav ul li{
    text-decoration: underline;
    list-style-type: none;
    margin: 15px 10px;
}

nav a:hover {
    opacity: .7;
}

nav a:visited, a:link {
    color:inherit
}


main {
    padding-top:70px;
}

@media only screen and (max-width:650px) {
    header {
        padding: 0 1%;
    }
}

@media only screen and (max-width:415px) {
    header {
        padding: 0 1%;
        justify-content:center;
    }
}


/*Hero section*/
.hero {
    background-image: url(../images/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 99%;
    height:50%;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content:center;
}


.mission {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    line-height: 19px;
}
.mission p {
    text-transform: initial;
    padding: 0 10px;
}

/*Tea types*/
.tea-of-month{
    padding: 20px 0;
}
.tea-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width:75%;
    margin: auto;
}

.tea-container figure {
    padding: 20px 10px;
    margin:0;
}

figure img {
    width:300px;
    height:200px;
    display: block;
    border-radius: 10%;
}

figure figcaption {
    margin-top:10px;
}


/*location section */
.location {
    width: 100%;
    min-height: 500px;
    background: url(../images/img-locations-background.jpg) no-repeat center fixed;
    display:flex;
    flex-flow:column;
    justify-content: center;
}

.location-container{
    display:flex;
    justify-content:space-around;
    flex-flow: row wrap;
    align-items: center;
    width:75%;
    margin:0 auto;
    max-width:1000px;
}

.location-container div {
    background:rgba(0, 0, 0, 0.6);
    width:300px;
    height:230px;
    margin:10px;
    border-radius: 10%;
}

/*footer*/
footer h2{
    text-transform: capitalize;
}

footer address {
    font-size: .9em;
}
footer>p {
    font-size:.6em;
}