header {
    background-color:#2ec4b6ff;
    color: #0b2027ff;
    text-align: center;
    padding: 30px 2px;
}


/* $charleston-green: #0b2027ff;
$tuscan-red: #815355ff;
$tiffany-blue: #2ec4b6ff;
$orange-yellow-crayola: #fed766ff;
$ghost-white: #f4f4f8ff; */